.contains {
    gap: 15px;
}


.category-title {
    margin-left: 30px;
    color: #A8A77A; 
}


.category-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    justify-content: flex-start;
}


.main-category-button {
    background-color: #A8A77A;
    color: white; 
    border: none;
    border-radius: 12px;
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    
}

.main-category-button:hover {
    filter: brightness(1.1); 
}


.sub-buttons-container {
    display: none; 
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
    position: absolute;
    background: #1b1b1b;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    z-index: 1000;
    width: 550px;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}


.type-button {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
    min-width: 70px;

}

.type-button-hover {
    transform: scale(1.1);
}

.type-button-selected {
    border: 3px solid #00FFFF ; 
    box-shadow: 0 0 6px #17ef9cdd ;
}




.button-search{
    color: white;
    background-color: #4e4a4a;
    border-radius:  15px;
    box-shadow:  0 0 3px #00FFFF;
    cursor: pointer;
    padding: 15px 8px;
}
.button-search.selected{
    border: 3px solid #00FFFF ; 
    box-shadow: 0 0 6px #17ef9cdd ;
}