.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    height: 60px;
    background:linear-gradient( #020d1b, #000000, #470202) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0 , 0.2);
    z-index: 1000;
    
}

.pokedex{
    font-size: 25px;
    color: white;
    transition: 0.3s;
}


.Home{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #c00707;
    cursor: pointer; 
}
.Home:hover{
    background-color: #e90707;
}
.Category{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #05326e;
    cursor: pointer;
}
.Category:hover{
        background-color: #08479b;
}
.cardPokemon{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #109f10bb;
    cursor: pointer;
}
.cardPokemon:hover{
        background-color: #15ca15bb;
}
.mapPokemon{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #4d1674bb;
    cursor: pointer;
}
.mapPokemon:hover{
    background-color: #702ba1bb;
}
.favorite{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #a7ac13bb;
    cursor: pointer;
}
.favorite:hover{
    background-color: #d8df11bb;
}
.user{
    padding: 0.8%;
    border-radius: 20px;
    background-color: rgb(36, 34, 34);
    border-color: red;
}
.user:hover{
    background-color: rgb(65, 63, 63);

}
