.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    height: 60px;
    background:linear-gradient( #020d1b, #000000, #470202) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0 , 0.2);
    z-index: 1000;
    
}
.pokedex{
    font-size: 35px;
    color: aliceblue;
    transition: 0.3s;
}
.pokedex:hover{
    
    color:  #601111 ;
}
.Home{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #c00707;
    cursor: pointer; 
}
.Home:hover{
    color: #000000;
}
.Category{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #05326e;
    cursor: pointer;
}
.Category:hover{
    color: #000000;
}
.cardPokemon{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #109f10bb;
    cursor: pointer;
}
.cardPokemon:hover{
    color: #000000;
}
.mapPokemon{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #4d1674bb;
    cursor: pointer;
}
.mapPokemon:hover{
    color: #000000;
}
.favorite{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #a7ac13bb;
    cursor: pointer;
}
.favorite:hover{
    color: #000000;
}
