.card {
    background: linear-gradient(135deg, #064e3b, #111827);
    border: 1px solid #00ffff;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #00ffff;
}

.card-header {
    background-color: #000;
    border-bottom: 1px solid #00ffff;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#card-title {
    margin-top: 10px;
    text-align: center;
    color: rgb(222, 255, 255);
    margin-top: 15px;
    font-size: 1.5rem;
}

.card-text {
    color: azure;
    font-size: 1rem;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.switch-page {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-search {
    background-color: #00ffff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#pokemon-search {
    width: 70%;
    padding: 10px;
    border: 2px solid #00ffff;
    background-color: #111827;
    color: white;
    font-size: 1rem;
}

#page-info {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #00ffff;
}

#group-input {
    width: 4rem;
    height: 2.2rem;
    text-align: right;
    margin-left: 10px;
    font-size: 1rem;
    border: 2px solid #5ce3e3;
    border-radius: 5px;
    background-color: #111827;
    color: white;
}

.group-button {
    background-color: #111827;
    color: #00ffff;
    border: 2px groove #5ce3e3;
    padding: 7px 11px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.loading {
    grid-column: 1 / -1;
    color: azure;
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 40px 0;
}