html{
    height: 100%;
}

header{
    background:linear-gradient( #020d1b, #000000, #470202) ;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0 , 0.2);
    justify-content: space-evenly;
    height: 75px;  
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #111827, #000, #064e3b);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pokedex{
    font-size: 25px;
    color: white;
    display: inline-flex;
}
.pokedex span{
    transition: 0.3s;
    cursor: default;
}
.pokedex span:hover{
    color: #470202;
}

.Home{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #c00707;
    cursor: pointer; 
    border: 3px solid #595353;
}
.Home:hover{
    color: #000000;
    background-image:linear-gradient( #e23d3d, transparent 60%);
    box-shadow:  0 0 1px #e23d3d;
}
.Home.selected{
    color: #000000;
    border: 3px solid #00FFFF;
    box-shadow: 0 0 6px #17ef9cdd;
}

.category{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #05326e;
    cursor: pointer;
    border: 3px solid #595353;
}
.category:hover{
    color: #000000;
    background-color: #08479b;
}
.category.selected{
    color: #000000;
    border: 3px solid #00FFFF;
    box-shadow: 0 0 6px #17ef9cdd;
}
.cardPokemon{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #109f10bb;
    cursor: pointer;
    border: 3px solid #595353;
}
.cardPokemon:hover{
    color: #000000;
    background-color: #15ca15bb;
}
.cardPokemon.selected{
    color: #000000;
    border: 3px solid #00FFFF;
    box-shadow: 0 0 6px #17ef9cdd;
}

.mapPokemon{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #4d1674bb;
    cursor: pointer;
    border: 3px solid #595353;
}
.mapPokemon:hover{
    color: #000000;
    background-color: #702ba1bb;
}
.mapPokemon.selected{
    color: #000000;
    border: 3px solid #00FFFF;
    box-shadow: 0 0 6px #17ef9cdd;
}

.favorite{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #a7ac13bb;
    cursor: pointer;
    border: 3px solid #595353;
}
.favorite:hover{
    color: #000000;
    background-color: #d8df11bb;
}
.favorite.selected{
    color: #000000;
    border: 3px solid #00FFFF;
    box-shadow: 0 0 6px #17ef9cdd;
}

.user{
    padding: 0.8%;
    border-radius: 20px;
    background-color: rgb(36, 34, 34);
    border-color: red;
    border: 3px solid #595353;
}
.user:hover{
    color: #000000;
    background-color: rgb(65, 63, 63);

}
.user.selected{
    color: #000000;
    border: 3px solid #00FFFF;
    box-shadow: 0 0 6px #17ef9cdd;
}

.contains{
    display: flex;
    align-items:normal;
}
 
.category-button { 
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
    border: 3px solid #595353; 
    color: #10160f;
}
.category-button:hover {
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.5); 
}

.category-button.selected { 
    color: #000000;
    border: 3px solid #00FFFF;
    box-shadow: 0 0 6px #17ef9cdd;
}

.nav{
    background: linear-gradient(#020d1b, #000000, #470202);
}

.nav a {
    display: inline-block;
    text-decoration: none;
}